<footer class="footer">
  <div class="container">
    <div class="footer__nav">
      <div class="footer__nav-info">
        <a href="/" class="footer__logo">
          <svg class="icon" width="172" height="32">
            <use href="#icon-logo" fill="currentColor"></use>
          </svg>
        </a>
        <div class="footer__socials">
          <a href="" class="footer__socials-link">
            <svg class="icon" width="22" height="22">
              <use href="#icon-max" fill="currentColor"></use>
            </svg>
          </a>
          <a href="" class="footer__socials-link --tg-icon">
            <svg class="icon" width="19" height="16">
              <use href="#icon-tg" fill="currentColor"></use>
            </svg>
          </a>

          <a href="" class="footer__socials-link">
            <svg class="icon" width="20" height="20">
              <use href="#icon-vk" fill="currentColor"></use>
            </svg>
          </a>
          <a href="" class="footer__socials-link">
            <svg class="icon" width="24" height="18">
              <use href="#icon-youtube" fill="currentColor"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__wrapper">
        <div class="footer__menu">
          <a href="#" class="footer__menu-link">О компании</a>
          <a href="#" class="footer__menu-link">Услуги</a>
          <a href="#" class="footer__menu-link">Объекты</a>
          <a href="#" class="footer__menu-link">Этапы работы</a>
          <a href="#" class="footer__menu-link">Партнеры</a>
          <a href="#" class="footer__menu-link">Контакты</a>
        </div>
        <div class="footer__submenu">
          <a href="#" class="footer__submenu-link">Вакансии</a>
          <a href="#" class="footer__submenu-link">Блог</a>
          <a href="#" class="footer__submenu-link">FAQ</a>
          <a href="#" class="footer__submenu-link">Документы</a>
          <a href="#" class="footer__submenu-link"
            >Политика конфиденциальности</a
          >
          <a href="#" class="footer__submenu-link">Карта сайта</a>
        </div>
      </div>
    </div>
    <div class="footer__nav">
      <p>
        ООО «МИРАСТРОЙ» 236023, Калининградская Область, , Калининград Город,
        Маршала Борзова Улица, дом 74, кв./офис 7 ИНН: 3900035185. Коды: ОГРН
        1243900015699
      </p>
      <p>
        Любая информация, представленная на этом сайте, носит исключительно
        ознакомительный характер, ни при каких обстоятельствах не является
        публичной офертой, определяемой положениями статьи 437 ГК РФ. Актуальные
        цены уточняйте у менеджеров компании. © {{year}}. Все права защищены
      </p>
    </div>
  </div>
</footer>
