<footer class="footer">
  <div class="container">
    <div class="footer__nav">
      <div class="footer__nav-info">
        <a href="#hero" class="footer__logo" aria-label="На главную">
          <svg class="icon" width="172" height="32">
            <use href="#icon-logo" fill="currentColor"></use>
          </svg>
        </a>
        <div class="footer__socials">
          <a
            href="#contacts"
            class="footer__socials-link"
            aria-label="Контакты"
          >
            <svg class="icon" width="22" height="22">
              <use href="#icon-max" fill="currentColor"></use>
            </svg>
          </a>
          <a
            href="#contacts"
            class="footer__socials-link --tg-icon"
            aria-label="Telegram"
          >
            <svg class="icon" width="19" height="16">
              <use href="#icon-tg" fill="currentColor"></use>
            </svg>
          </a>
          <a href="#contacts" class="footer__socials-link" aria-label="VK">
            <svg class="icon" width="20" height="20">
              <use href="#icon-vk" fill="currentColor"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__wrapper">
        <div class="footer__menu">
          <a href="#hero" class="footer__menu-link">Главная</a>
          <a href="#calculator" class="footer__menu-link">Калькулятор</a>
          <a href="#faq" class="footer__menu-link">FAQ</a>
          <a href="#contacts" class="footer__menu-link">Контакты</a>
        </div>
        <div class="footer__submenu">
          <a href="tel:+79539999999" class="footer__submenu-link">
            +7 (953) 999-99-99
          </a>
          <a
            href="https://t.me/miraspase"
            class="footer__submenu-link"
            target="_blank"
            rel="noreferrer"
          >
            Telegram
          </a>
          <a href="mailto:mirremonta-39@yandex.ru" class="footer__submenu-link">
            Email
          </a>
        </div>
      </div>
    </div>
    <div class="footer__nav">
      <p>
        Miracart помогает с подбором, закупкой и доставкой материалов для
        ремонта. Работаем по Калининграду и сопровождаем проект от сметы до
        поставки.
      </p>
      <p>
        Информация на сайте носит ознакомительный характер. © {{year}} Miracart.
        Все права защищены.
      </p>
    </div>
  </div>
</footer>
