<header class="header">
  <div class="container">
    <div class="header__box">
      <a href="#hero" class="header__logo" aria-label="На главную">
        <svg class="icon" width="172" height="32">
          <use href="#icon-logo" fill="currentColor"></use>
        </svg>
      </a>
      <nav class="header__nav">
        <a href="#calculator" class="header__nav-chat">Обсудить ремонт</a>
        <div class="header__nav-socials">
          <a
            href="#contacts"
            class="header__nav-socials-link"
            aria-label="Контакты"
          >
            <svg class="icon" width="24" height="24">
              <use href="#icon-max" fill="currentColor"></use>
            </svg>
          </a>
          <a
            href="#contacts"
            class="header__nav-socials-link --tg-icon"
            aria-label="Telegram"
          >
            <svg class="icon" width="24" height="24">
              <use href="#icon-tg" fill="currentColor"></use>
            </svg>
          </a>
          <a
            href="#contacts"
            class="header__nav-socials-link --phone"
            aria-label="VK"
          >
            <svg class="icon" width="24" height="24">
              <use href="#icon-vk" fill="currentColor"></use>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
