<header class="header">
  <div class="container">
    <div class="header__box">
      <a href="/" class="header__logo">
        <svg class="icon" width="172" height="32">
          <use href="#icon-logo" fill="currentColor"></use>
        </svg>
      </a>
      <nav class="header__nav">
        <a href="#dashform" class="header__nav-chat"> обсудить ремонт </a>
        <div class="header__nav-socials">
          <a href="" class="header__nav-socials-link">
            <svg class="icon" width="24" height="24">
              <use href="#icon-max" fill="currentColor"></use>
            </svg>
          </a>
          <a href="" class="header__nav-socials-link --tg-icon">
            <svg class="icon" width="24" height="24">
              <use href="#icon-tg" fill="currentColor"></use>
            </svg>
          </a>
          <a href="" class="header__nav-socials-link --phone">
            <svg class="icon" width="24" height="24">
              <use
                href="#icon-phone"
                fill="currentColor"
              ></use>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
