<div class="modal-cookies">
  <button class="modal-cookies__close" aria-label="Закрыть">
    <svg class="icon" width="24" height="24">
      <use href="/images/sprite.svg#close" fill="currentColor"></use>
    </svg>
  </button>
  <div class="modal-cookies__text">
    Мы используем файлы cookie и Яндекс.Метрику для анализа и улучшения работы
    сайта. Продолжая пользоваться сайтом, вы
    <a href="/privacy-policy">соглашаетесь с условиями использования</a>.
  </div>
  <button class="modal-cookies__action">Понятно</button>
</div>
