// ============================================
// СЕКЦИЯ С ПРЕИМУЩЕСТВАМИ
// ============================================

@use '../../abstracts/variables' as *;
@use '../../abstracts/functions' as *;
@use '../../abstracts/mixins' as *;

.advantages {
  margin: spacing(20) 0;
  @include respond-max(tablet) {
    margin: spacing(10) 0;
    .container {
      padding: 0;
    }
  }

  &__container {
    background: color('dark');
    position: relative;
    overflow: hidden;
    padding: spacing(20);
    border-radius: 22px;
    @include respond-max('tablet') {
      padding: spacing(10) spacing(5);
      border-radius: 0;
    }
  }

  &__title {
    color: color('white');
    text-align: center;
    margin-bottom: spacing(10);

    @include respond-max(tablet) {
      margin-bottom: spacing(6);
    }
  }

  &__title-highlight {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      left: -10px;
      right: 0;
      top: 3px;
      bottom: 0px;
      height: 58px;
      width: 160px;
      background-image: url(/images/highlight-circle.svg);
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      @include respond-max(tablet) {
        width: 124px;
        height: 45px;
      }
      // z-index: -1;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: px2rem(56) spacing(10);

    @include respond-max('tablet') {
      grid-template-columns: 1fr;
      gap: spacing(6);
    }
  }

  &__card {
    @include respond-max(tablet) {
      display: grid;
      grid-template-columns: px2rem(90) 1fr;
      gap: spacing(4);
    }
  }

  &__icon-wrap {
    position: relative;
    width: px2rem(100);
    height: px2rem(72);
    margin-bottom: spacing(4);
    position: relative;
    @include respond-max(tablet) {
      width: px2rem(90);
      height: px2rem(64);
      margin: 0;
    }
    & img {
      width: px2rem(72);
      height: px2rem(72);
      @include respond-max(tablet) {
        width: px2rem(64);
        height: px2rem(64);
      }
    }
  }

  &__icon-cross {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: color('primary');
  }

  &__card-title {
    @include type(20, 28);
    font-weight: font-weight('bold');
    color: #ffffff;
    margin-bottom: spacing(4);
    &-highlight {
      color: color('primary');
    }

    @include respond-max('tablet') {
      @include type(18, 26);
      margin-bottom: 0;
      align-self: end;
    }
  }

  &__card-text {
    color: rgba(255, 255, 255, 0.7);
    @include type(16, 22);
    margin: 0;
    @include respond-max(tablet) {
      grid-column: 2/2;
    }
  }
}
