@use '../../abstracts/variables' as *;
@use '../../abstracts/functions' as *;
@use '../../abstracts/mixins' as *;

.header {
  background-color: color('light');
  position: relative;
  height: 90px;
  border-bottom: 1px solid $color-dark-overlay;
  @include respond-max(tablet) {
    height: 70px;
  }

  &__logo {
    & .icon {
      color: color('dark');
      @include respond-max(tablet) {
        width: 129px;
        height: 24px;
      }
    }
  }
  &__box {
    display: flex;
    align-items: center;
    padding-top: spacing(7);
    @include respond-max(tablet) {
      padding-top: px2rem(25);
    }
  }
  &__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: spacing(4);
    &-socials {
      display: flex;
      gap: spacing(4);
      @include respond-max(tablet) {
        gap: spacing(6);
      }
      &-link {
        color: color('dark');
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: color('light');
        transition: background-color 0.3s ease;
        border: 1px solid color('gray', 500);
        @include respond-max(tablet) {
          width: auto;
          height: auto;
          padding: 0;
          border: none;
        }
        &:hover {
          background: darken-color(color('light'), 2%);
          color: color('dark');
        }
        & .icon {
          width: 18px;
          height: 18px;
          @include respond-max(tablet) {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    &-chat {
      @include button-variant(color('light'), color('dark'));
      padding: spacing(0) spacing(10);
      height: 40px;
      @include flex-center;
      font-weight: 600;
      text-transform: uppercase;
      @include type(13, 20);
      color: color('dark');
      border-radius: 8px;
      text-decoration: none;
      @include respond-max(tablet) {
        display: none;
      }
      &:hover {
        color: darken-color(color('dark'), 10%);
      }
    }
  }
}
