// ============================================
// СЕКЦИЯ С МАТЕРИАЛАМИ
// ============================================

@use '../../abstracts/variables' as *;
@use '../../abstracts/functions' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/component-mixins' as *;

.materials {
  margin: spacing(20) 0;
  @include respond-max(tablet) {
    margin: spacing(10) 0;
  }

  &__grid {
    @include grid(12, spacing(6));

    @include respond-max(tablet) {
      display: flex;
      flex-direction: column-reverse;
      gap: 0;
    }
  }

  &__content {
    @include col-span(1, 8);
    @include respond-max(tablet) {
      order: 2;
    }
  }

  &__title {
    color: color('dark');
    margin-bottom: px2rem(32);
    text-transform: none;

    @include respond-max(tablet) {
      margin-bottom: spacing(4);
      overflow: hidden;
    }
  }

  &__title-highlight {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0px;
      height: 18px;
      width: 232px;
      background-image: url(/images/highlight.svg);
      display: block;
      // background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      @include respond-max(tablet) {
        left: 0px;
        padding-right: px2rem(8);
        bottom: -4px;
      }
    }
  }

  &__benefits {
    margin-bottom: spacing(6);
    border: 4px solid color('primary');
    border-radius: 22px;
    padding: spacing(10);
    position: relative;
    background-color: color('light');
    @include respond-max(tablet) {
      margin-bottom: spacing(4);
      padding: spacing(6);
    }
  }

  &__intro {
    margin-bottom: spacing(4);
    font-weight: font-weight('light');
    @include respond-max(tablet) {
      margin-bottom: spacing(2);
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: spacing(4);
    @include respond-max(tablet) {
      gap: spacing(2);
    }
  }

  &__list-item {
    display: flex;
    align-items: flex-start;
    gap: spacing(4);
    font-weight: font-weight('light');
    @include type(16, 24);
    @include respond-max(tablet) {
      gap: spacing(2);
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    color: color('dark');
  }

  &__cta {
    @include btn;
    text-transform: uppercase;
    width: 100%;
    @include respond-max(tablet) {
      word-break: break-word;
      padding-left: px2rem(40);
      padding-right: px2rem(40);
    }
  }

  &__image {
    @include col-span(8, 13);
    position: relative;
    border-radius: 22px;
    overflow: hidden;

    @include respond-max(tablet) {
      margin-top: spacing(4);
      // order: 1;
      // width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      border-radius: 22px;
    }
  }

  &__badge {
    position: absolute;
    top: px2rem(42);
    right: px2rem(24);
    width: px2rem(134);
    height: px2rem(140);

    @include respond-max(tablet) {
      width: px2rem(70);
      height: px2rem(70);
      top: px2rem(16);
      right: px2rem(16);
    }
  }
}
