<section class="advantages">
  <div class="container">
    <div class="advantages__container">
      <h2 class="advantages__title">
        Вы не будете снабженцем —<br />
        и в этом весь
        <span class="advantages__title-highlight">смысл</span>
      </h2>

      <div class="advantages__grid">
        <div class="advantages__card">
          <div class="advantages__icon-wrap">
            <img
              src="/images/list-emoji.webp"
              alt="list emoji"
              loading="lazy"
            />
            <svg class="advantages__icon-cross" width="62" height="56">
              <use href="#icon-not" fill="currentColor"></use>
            </svg>
          </div>
          <h5 class="advantages__card-title">
            Вам
            <span class="advantages__card-title-highlight">не нужно</span>
            подбирать и искать товары
          </h5>
          <p class="advantages__card-text">
            Не нужно тратить часы на поиск, сравнения и поездки по магазинам —
            мы делаем это за вас
          </p>
        </div>

        <div class="advantages__card">
          <div class="advantages__icon-wrap">
            <img src="/images/car-emoji.webp" alt="car emoji" loading="lazy" />
            <svg class="advantages__icon-cross" width="62" height="56">
              <use href="#icon-not" fill="currentColor"></use>
            </svg>
          </div>
          <h5 class="advantages__card-title">
            Вам
            <span class="advantages__card-title-highlight">не нужно</span> быть
            логистом и доставщиком
          </h5>
          <p class="advantages__card-text">
            Не нужно держать в голове даты доставок, быть всё время на связи и
            подстраивать свою жизнь под приезды машин
          </p>
        </div>

        <div class="advantages__card">
          <div class="advantages__icon-wrap">
            <img
              src="/images/glass-emoji.webp"
              alt="glass emoji"
              loading="lazy"
            />
            <svg class="advantages__icon-cross" width="62" height="56">
              <use href="#icon-not" fill="currentColor"></use>
            </svg>
          </div>
          <h5 class="advantages__card-title">
            Вам
            <span class="advantages__card-title-highlight">не нужно</span> быть
            посредником
          </h5>
          <p class="advantages__card-text">
            Мы сами согласуем всё с вашими мастерами или дизайнером — без
            передачи сообщений и недопониманий.
          </p>
        </div>

        <div class="advantages__card">
          <div class="advantages__icon-wrap">
            <img
              src="/images/worker-emoji.webp"
              alt="worker emoji"
              loading="lazy"
            />
            <svg class="advantages__icon-cross" width="62" height="56">
              <use href="#icon-not" fill="currentColor"></use>
            </svg>
          </div>
          <h5 class="advantages__card-title">
            Вам
            <span class="advantages__card-title-highlight">не нужно</span>
            становиться «экспертом по ремонту»
          </h5>
          <p class="advantages__card-text">
            Вместо того чтобы часами разбираться в сложных темах, просто
            положитесь на нас. Мы берем на себя все нюансы, чтобы вы могли
            заниматься своим проектом спокойно.
          </p>
        </div>

        <div class="advantages__card">
          <div class="advantages__icon-wrap">
            <img
              src="/images/stones-emoji.webp"
              alt="stones emoji"
              loading="lazy"
            />
            <svg class="advantages__icon-cross" width="62" height="56">
              <use href="#icon-not" fill="currentColor"></use>
            </svg>
          </div>
          <h5 class="advantages__card-title">
            Вам
            <span class="advantages__card-title-highlight">не нужно</span>
            переживать, что купите не то/лишнее
          </h5>
          <p class="advantages__card-text">
            Мы следим за составом и объёмами, а вопросы с остатками и возвратами
            берём на себя.
          </p>
        </div>
        <div class="advantages__card">
          <div class="advantages__icon-wrap">
            <img src="/images/wow-emoji.webp" alt="wow emoji" loading="lazy" />
            <svg class="advantages__icon-cross" width="62" height="56">
              <use href="#icon-not" fill="currentColor"></use>
            </svg>
          </div>
          <h5 class="advantages__card-title">
            Вам
            <span class="advantages__card-title-highlight">не нужно</span>
            беспокоиться о надежности
          </h5>
          <p class="advantages__card-text">
            Всё официально по документам: покупка, чеки, одна смета, один
            ответственный подрядчик и прозрачный процесс.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
