<section class="audience">
  <div class="container">
    <h2 class="audience__title">Кому и как мы подходим</h2>
    <div class="audience__list">
      <div class="audience__item">
        <img src="/images/note.webp" alt="" loading="lazy" />
        <h5 class="audience__item-title">Есть дизайн-проект вашей мечты</h5>
        <p class="audience__item-text">
          Вы присылаете его нам — мы рассчитываем полную смету материалов,
          подбираем позиции под ваш бюджет и берём организацию поставок на себя.
        </p>
      </div>
      <div class="audience__item">
        <img src="/images/sofa.webp" alt="" loading="lazy" />
        <h5 class="audience__item-title">Есть изображения или референсы</h5>
        <p class="audience__item-text">
          Вы отправляете примеры, а мы формируем подбор, рассчитываем объёмы и
          выстраиваем комплектацию под ваши задачи.
        </p>
      </div>
      <div class="audience__item">
        <img src="/images/happy.webp" alt="" loading="lazy" />
        <h5 class="audience__item-title">Есть идея, но пока нет проекта</h5>
        <p class="audience__item-text">
          Вы приезжаете к нам или связываетесь онлайн — помогаем определиться с
          визуалом, составляем смету и организуем дальнейшую работу.
        </p>
      </div>
      <div class="audience__item">
        <img src="/images/home.webp" alt="" loading="lazy" />
        <h5 class="audience__item-title">Нужно закрыть этап ремонта</h5>
        <p class="audience__item-text">
          Электрика, сантехника, стяжка, штукатурка — мы подберём и организуем
          поставку всех материалов для нужного этапа, чтобы вы смогли начать
          работу.
        </p>
      </div>
    </div>
  </div>
</section>
