<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__info">
        <h2 class="contacts__info-title">Контакты</h2>
        <div class="contacts__info-text">
          Мы работаем с 09:00 до 20:00 <br />
          без выходных. Напишите или позвоните нам — обсудим ваш проект :
        </div>
        <div class="contacts__list">
          <div class="contacts__item">
            <svg class="icon" width="32" height="32">
              <use href="#icon-phone-contact"></use>
            </svg>
            <a href="tel:+79539999999"> +7 (953) 999 - 99 - 99 </a>
          </div>
          <div class="contacts__item">
            <svg class="icon" width="32" height="32">
              <use href="#icon-tg-contact"></use>
            </svg>
            <a href="https://t.me/miraspase"> @mirastroy_kaliningrad </a>
          </div>
          <div class="contacts__item">
            <svg class="icon" width="32" height="32">
              <use href="#icon-mail-contact"></use>
            </svg>
            <a href="mailto:mirremonta-39@yandex.ru">
              @mirastroy_kaliningrad
            </a>
          </div>
        </div>
      </div>
      <div class="contacts__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A3ff121397d0ea2a64f48a25820ffdf3e8570d9e443dd707e61d0b8cdb91adb68&amp;source=constructor"
          width="100%"
          height="400"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</section>
