<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h2 class="faq__title">Часто задаваемые вопросы</h2>

      <div class="faq__list">
        <div class="faq__item active">
          <div class="faq__item-hdr">
            Сколько точно будет стоить ремонт и что туда входит?
            <button type="button" class="faq__item-toggle">
              <svg class="icon" width="24" height="24">
                <use href="#icon-drop"></use>
              </svg>
            </button>
          </div>
          <div class="faq__item-main">
            <p>
              Составляем официальный договор с фиксированной ценой, сроками и
              объёмом работ — без размытых формулировок. Каждый этап ремонта,
              каждая позиция в смете и каждая дата — внесены в договор. Бюджет
              не меняется. Оплата строго по факту готового результата работ,
              этап за этапом.
            </p>
            <p>
              Штрафы за срыв сроков оплачиваем мы. Договор подписывается при
              личной встрече или удаленно с электронной подписью. Весь
              документооборот ведется официально. Договор с нами - это
              юридически сильный грамотный документ.
            </p>
            <a class="faq__item-btn" href=""> Рассчитать мой ремонт </a>
          </div>
        </div>
        <div class="faq__item">
          <div class="faq__item-hdr">
            Сколько точно будет стоить ремонт и что туда входит?
            <button type="button" class="faq__item-toggle">
              <svg class="icon" width="24" height="24">
                <use href="#icon-drop"></use>
              </svg>
            </button>
          </div>
          <div class="faq__item-main">
            <p>
              Составляем официальный договор с фиксированной ценой, сроками и
              объёмом работ — без размытых формулировок. Каждый этап ремонта,
              каждая позиция в смете и каждая дата — внесены в договор. Бюджет
              не меняется. Оплата строго по факту готового результата работ,
              этап за этапом.
            </p>
            <p>
              Штрафы за срыв сроков оплачиваем мы. Договор подписывается при
              личной встрече или удаленно с электронной подписью. Весь
              документооборот ведется официально. Договор с нами - это
              юридически сильный грамотный документ.
            </p>
            <a class="faq__item-btn" href=""> Рассчитать мой ремонт </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
