<section class="roadmap">
  <div class="container">
    <h2 class="roadmap__title">Как будет происходить работа</h2>
    <div class="roadmap__scheme">
      <div class="roadmap__grid">
        <div class="roadmap__item roadmap__item--1">
          <div class="roadmap__num">1.</div>
          <div class="roadmap__text">
            <div class="roadmap__text-title">Вы обозначаете задачу</div>
            <p>
              Вы выбираете, от чего отталкиваться: загружаете дизайн-проект,
              планировку, референсы или выбираете готовое решение из нашего
              каталога. Если проекта нет — это нормально, мы работаем и без
              него.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--2">
          <div class="roadmap__num">2.</div>
          <div class="roadmap__text">
            <div class="roadmap__text-title">Мы собираем состав материалов</div>
            <p>
              Мы формируем список материалов под вашу задачу: по этапам работ, с
              учётом совместимости и вашего бюджета. Вы не выбираете бренды,
              артикулы и мелочи — мы собираем целостное решение и берём
              ответственность за состав.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--3">
          <div class="roadmap__num">3.</div>
          <div class="roadmap__text">
            <div class="roadmap__text-title">
              Вы видите понятный и прозрачный расчёт
            </div>
            <p>
              Вы получаете расчёт, где ясно: что входит, в каком объёме и за
              какую сумму. Если нужно, мы спокойно корректируем состав или
              подбираем альтернативы. Вы принимаете решение на основе полной и
              понятной картины.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--4">
          <div class="roadmap__num">4.</div>
          <div class="roadmap__text">
            <div class="roadmap__text-title">
              Заключаем договор и составляем график платежей
            </div>
            <p>
              После согласования расчёта мы оформляем все документы: заключаем
              договор и разрабатываем удобный график платежей под этапы работ. У
              вас есть понятный план оплаты и официальные гарантии. Все
              юридически прозрачно и защищено.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--5">
          <div class="roadmap__num">5.</div>
          <div class="roadmap__text">
            <div class="roadmap__text-title">
              Мы берём на себя закупку и даты доставок
            </div>
            <p>
              Мы организуем закупку и доставки материалов по этапам ремонта. Вам
              не нужно: следить за датами, координировать поставщиков и держать
              всё в голове. Эта часть не требует вашего постоянного участия.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--6">
          <div class="roadmap__num">6.</div>
          <div class="roadmap__text">
            <div class="roadmap__text-title">Закрываем вопросы с остатками</div>
            <p>
              Если после этапов остаются лишние материалы, мы берём на себя
              вопросы с возвратами и остатками. Вы не тратите время на
              организационные мелочи после этапов работ.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="roadmap__item roadmap__item--7">
      <div class="roadmap__num">7.</div>
      <div class="roadmap__text">
        <div class="roadmap__text-title">Завершаем комплектацию материалов</div>
        <p>
          Все товары поставлены, этап по материалам закрыт. Мы благодарим вас за
          доверие и дарим небольшой подарок для обновлённого пространства. Можно
          выдохнуть — эта часть процесса позади.
        </p>
      </div>
    </div>
    <div class="roadmap__referal">
      <div class="roadmap__referal-box">
        <h4 class="roadmap__referal-title">
          Есть индивидуальный запрос или предложение? Оставьте заявку — найдем
          решение под вашу задачу
        </h4>
        <a href="" class="roadmap__referal-link"> оставить заявку </a>
      </div>
    </div>
  </div>
</section>
