<section class="save-money">
  <div class="container">
    <h2 class="save-money__title">Вы экономите деньги на материалах</h2>
    <div class="save-money__grid">
      <div class="save-money__content">
        <div class="save-money__item">
          <img src="/images/purse.svg" alt="" loading="lazy" />
          <div class="save-money__item-info">
            <h5 class="save-money__item-title">Под любой бюджет</h5>
            <div class="save-money__item-text">
              <p>
                Мы подбираем товары от бюджетных до премиальных и всегда
                предлагаем несколько альтернатив. Так вы попадаете в свой бюджет
                На каждую позицию мы предложим альтернативы, чтобы вписались в
                бюджет без ущерба для эстетики
              </p>
            </div>
          </div>
        </div>
        <div class="save-money__item">
          <img src="/images/more.svg" alt="" loading="lazy" />
          <div class="save-money__item-info">
            <h5 class="save-money__item-title">
              Скидки за объём — в вашу пользу
            </h5>
            <div class="save-money__item-text">
              <p>
                Комплексная закупка материалов обходится до 10% выгоднее
                розничных, благодаря нашим партнерским скидкам, а не снижению
                качества выбранных позиций.
              </p>
              <p>
                Мы работаем с проверенными поставщиками на постоянной основе и
                используем объём заказа, как инструмент для снижения итоговой
                стоимости. В результате, оптовая закупка обходится выгоднее, чем
                единичные самостоятельные покупки.
              </p>
            </div>
          </div>
        </div>
        <div class="save-money__item">
          <img src="/images/list.svg" alt="" loading="lazy" />
          <div class="save-money__item-info">
            <h5 class="save-money__item-title">Ничего лишнего</h5>
            <div class="save-money__item-text">
              <p>
                В подбор не попадают позиции «на всякий случай». Мы покупаем
                только то, что действительно используется и влияет на результат,
                и вы не остаётесь с лишними остатками материалов после ремонта.
              </p>
            </div>
          </div>
        </div>
        <div class="save-money__item">
          <img src="/images/repair.svg" alt="" loading="lazy" />
          <div class="save-money__item-info">
            <h5 class="save-money__item-title">
              Стандартная гарантия на материалы
            </h5>
            <div class="save-money__item-text">
              <p>
                Все товары приобретаются официально и идут с гарантией
                производителей. В случае вопросов вы не остаетесь один на один с
                проблемой — мы помогаем решить её без лишних расходов и нервов.
              </p>
            </div>
          </div>
        </div>
        <div class="save-money__item">
          <img src="/images/ruler.svg" alt="" loading="lazy" />
          <div class="save-money__item-info">
            <h5 class="save-money__item-title">
              Вы можете всё проверить лично
            </h5>
            <div class="save-money__item-text">
              <p>
                Вы можете приехать и посмотреть подобранные материалы, оценить
                образцы и убедиться в качестве до оплаты.В некоторых случаях мы
                привозим образцы на объект, чтобы вы увидели их в реальном
                освещении и интерьере.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="save-money__image">
        <div class="save-money__image-text">
          Мы находим лучшее соотношение цены и качества под ваш бюджет
        </div>
        <div class="save-money__badge">
          <img src="/images/done.svg" alt="like" loading="lazy" />
        </div>
        <picture>
          <source
            srcset="
              /images/save-money-mob@2x.webp 2x,
              /images/save-money-mob.webp    1x
            "
            media="(max-width: 1240px)"
            type="image/webp"
          />
          <source
            srcset="/images/save-money@2x.webp 2x, /images/save-money.webp 1x"
            type="image/webp"
          />
          <img src="/images/save-money.webp" alt="" loading="lazy" class="" />
        </picture>
      </div>
    </div>
  </div>
</section>
