<section class="slogan">
  <div class="container">
    Когда материалы <mark>верно подобраны </mark> и доставлены в срок, ремонт
    превращается из проблемы в предсказуемый и
    <mark>качественный результат</mark>
  </div>
</section>
