<section class="why">
  <div class="container">
    <div class="why__grid">
      <div class="why__content">
        <h2 class="why__title">Почему мы уверенно предлагаем такой формат</h2>
        <div class="why__content-list">
          <div class="why__content-item">
            <h5 class="why__content-item-title">
              Мы пришли к этому из реальной стройки
            </h5>
            <p class="why__content-item-text">
              Мы - команда профессионалов, объединённых опытом и ценностями
              <a href="https://miraspace.ru" target="_blank" rel="noreferrer"
                >компании MIRASPACE</a
              >, которая занимается ремонтом «под ключ» с 2012 года. За это
              время прошли сотни проектов: от квартир и домов до масштабных
              строек и производственных объектов, где ошибки очень дорого стоят.
              Подбор и закупка строительных материалов — это наша ежедневная
              работа на реальных объектах, а не просто теория.
            </p>
          </div>
          <div class="why__content-item">
            <h5 class="why__content-item-title">
              Мы знаем, где возникают сложности
            </h5>
            <p class="why__content-item-text">
              В реальных проектах мы видели, как часто людям приходится вникать
              в тонкости логистики, проверять наличие позиций и стыковать сроки
              поставок, тратя на это всё свободное время. Хотя совсем не
              планировали этим заниматься.
            </p>
          </div>
          <div class="why__content-item">
            <h5 class="why__content-item-title">Как появился этот сервис</h5>
            <p class="why__content-item-text">
              Мы понимаем, что формат «ремонт под ключ» подходит не всем, но
              уверены: профессиональный подбор и закупка стройматериалов нужна
              каждому. Поэтому создали этот сервис, чтобы вы могли делегировать
              сложный процесс нашим экспертам.
            </p>
          </div>
        </div>
      </div>
      <div class="why__image">
        <svg class="why__image-logo" width="295" height="50">
          <use href="#icon-logo"></use>
        </svg>
        <picture>
          <source
            srcset="/images/band-mob@2x.webp 2x, /images/band-mob.webp 1x"
            media="(max-width: 1240px)"
            type="image/webp"
          />
          <source
            srcset="/images/band@2x.webp 2x, /images/band.webp 1x"
            type="image/webp"
          />
          <img src="/images/band.webp" alt="" loading="lazy" class="" />
        </picture>
      </div>
    </div>
  </div>
</section>
