/* rubik-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/rubik-v31-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Rubik - Regular 400 */
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/rubik-v31-cyrillic_latin_latin-ext-regular.woff2')
    format('woff2');
}

/* Rubik - Medium 500 */
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/rubik-v31-cyrillic_latin_latin-ext-500.woff2')
    format('woff2');
}

/* Rubik - Bold 700 */
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/rubik-v31-cyrillic_latin_latin-ext-700.woff2')
    format('woff2');
}

/* Rubik - ExtraBold 800 */
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/rubik-v31-cyrillic_latin_latin-ext-800.woff2')
    format('woff2');
}

/* Raleway - ExtraBold 800 (для кнопок) */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/raleway-v37-cyrillic_latin-800.woff2') format('woff2');
}
